html {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: "source-han-serif-sc", serif;
    font-size: 1.6rem;
    font-weight: 300;
    height: 100%;
    color: #fff;
    background-color: #E16B8C;
    transition: all 3s ease;
}

a {
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
}

a:hover {
    background: rgba(255, 255, 255, 0.2)
}

.logo {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.2);
}

.quote {
    position: relative;
    margin: 5rem 0 0;
    color: #fff;
    line-height: 1.6;
    font-size: 3.6rem;
}

.quote:before {
    color: rgba(255, 255, 255, 0.1);
    content: "\201C";
    font-size: 6em;
    position: absolute;
    left: -11rem;
    top: 6rem;
    line-height: 0;
}

.quote .text {
    color: #fff;
    padding: 0.2rem 1rem;
}

.quote .hidden {
    display: none;
    padding: 0.2rem 1rem;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.7);
    min-height: 4.8rem;
    transition: all 0.3s ease;
}

.quote .hidden:hover {
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 5.4rem;
}

.quote .hide {
    display: none;
}

.quote img {
    width: 100%;
    margin: 0.5rem 0;
}

.quote .meta {
    text-align: right;
    color: rgba(255, 255, 255, 0.35);
    font-size: 1.8rem;
    transition: all 0.2s ease;
}

.quote .meta:hover {
    color: rgba(255, 255, 255, 0.6);
}

.quote a {
    font-weight: 500;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    border-bottom: #fff dotted 1px;
    color: #fff;
    padding: 0 1rem;
}

.quote a:hover {
    background: rgba(255, 255, 255, 0.2)
}

.controller {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    font-size: 4rem;
    margin: 2rem 2rem 5rem;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.controller:hover {
    opacity: 0.8;
}

.controller div {
    position: relative;
}

.controller a {
    color: rgba(255, 255, 255, 0.6);
}

.controller a:hover {
    color: #fff;
}

.controller .prev {
    width: 40%;
    text-align: left;
}

.controller .like {
    width: 20%;
    text-align: center;
}

.controller .next {
    width: 40%;
    text-align: right;
}

.footer {
    position: fixed;
    text-align: right;
    bottom: 0.4rem;
    right: 1rem;
    color: transparent;
    transition: all 0.3s ease;
}

.footer p {
    line-height: 0.8;
    font-size: 1.2rem;
}

.footer i {
    color: rgba(255,255,255,0.6);
}

.footer:hover {
    color: rgba(255,255,255,0.6);
}


/* POSITIONING */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.justify {
    text-align: justify;
}



/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    color: #52433D;
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    text-rendering: geometricPrecision;
    margin: 1rem 0;
    text-indent: -3px;
}

h1 {
    font-size: 2.8rem;
    letter-spacing: -2px;
}

h1:before {
    color: #86B81B;
    content: "# ";
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 2.4rem;
    letter-spacing: -0.6px;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin: 0.8rem 0;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 540px) {
    .container {
        width: 60%;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        width: 50%;
        max-width: 45rem;
    }
}
