html {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: "source-han-serif-sc", serif;
    font-size: 1.6rem;
    font-weight: 300;
    height: 100%;
    color: #333;
    transition: all 3s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #E16B8C;
}

.logo {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.2);
}

.logo:hover {
    color: #E16B8C;
}

@media screen and (min-width:600px) {
    .right-meta {
        float: right;
    }
    .bottom-meta {
        display: none;
    }
    .right-meta .circle {
        opacity: 0.5;
        width: 42px;
        height: 42px;
        background: #E16B8C;
        border-radius: 50%;
        position: absolute;
        right: 24px;
        top:20px;
        transition: all 0.3s ease;
        z-index: -1;
    }
    .right-meta .date {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        font-size: 2.4rem;
        z-index: 1;
    }
    .quote {
        margin-right: 5rem;
        font-size: 3.2rem;
    }
    .quote .vol {
        font-size: 2rem;
    }
}
@media screen and (max-width:599px) {
    .right-meta {
        display: none;
    }
    .bottom-meta {
        padding: 0.2rem 1rem;
        position: relative;
        margin-top: 1.8rem;
    }
    .bottom-meta .date {
        font-size: 1.7rem;
        text-align: right;
        z-index: 1;
        margin: 0.7rem 0;
    }
    .bottom-meta .circle {
        opacity: 0.5;
        width: 32px;
        height: 32px;
        background: #E16B8C;
        border-radius: 50%;
        position: absolute;
        right: 2px;
        top: 10px;
        transition: all 0.3s ease;
        z-index: -1;
    }
    .quote {
        font-size: 3rem;
    }
    .quote .vol {
        font-size: 1.6rem;
    }
}

.quote {
    position: relative;
    padding: 0.2rem 1rem;
    color: #333;
    line-height: 1;
    text-align: right;
}

.quote .vol {
    color: #ccc;
    text-align: right;
}

.quote .text {
    margin: 5px 0;
    line-height: 1.6;
}

.quote .hidden_button {
    padding: 2px 8px;
    color: #ccc;
    border-radius: 1rem;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    display: inline;
    line-height: 1;
    border: #ccc solid 1px;
}
.quote .hidden_button:hover {
    color: #E16B8C;
    border: #E16B8C solid 1px;
}

.quote .hidden {
    background-color: #fcfcfc;
    color: #999;
    border: #ccc dotted 1px;
    font-size: 2.6rem;
    margin: 16px -8px 0;
    padding: 10px;
    line-height: 1.6;
}

.quote img {
    display: none;
    width: 100%;
    margin: 0.5rem 0;
}

/* controller */

.controller {
    font-size: 3.4rem;
    opacity: 0.5;
    transition: all 0.3s ease;
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -50px;
}

.controller a {
    color: #999;
}
.controller a:hover {
    color: #E16B8C;
    opacity: 1;
    text-shadow: #ccc 0 0 5px;
}

.controller div {
    position: relative;
    margin: 0 8px;
}

.controller .prev {
    text-align: left;
    display: inline-block;
}

.controller .next {
    text-align: right;
    display: inline-block;
}

/* footer */

.footer {
    position: fixed;
    text-align: right;
    bottom: 0.4rem;
    right: 1rem;
    color: transparent;
    transition: all 0.3s ease;
}

.footer p {
    line-height: 0.8;
    font-size: 1.2rem;
}

.footer i {
    color: rgba(255,0,0,0.6);
}

.footer:hover {
    color: rgba(0,0,0,0.6);
}

/* container */

.container {
    width: 90%;
    margin: 4rem auto 10rem auto;
    position: relative;
    background: #fff;
    padding: 2rem 1rem;
    z-index: 0;
    box-shadow:0px 2px 8px #ccc;
    min-height: 160px;
}

.hide {
    display: none;
}

@media only screen and (min-width: 540px) {
    .container {
        width: 60%;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        width: 50%;
        max-width: 45rem;
    }
}
